.card {
width: 450px;
background-color: white;
color: hsl(224, 23%, 55%);
border-radius: 20px;
overflow: hidden;
margin: 50px auto;
}

body{
    background-image: url(./images/bgimg.png);
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.title{
    color: darkblue;
    font-weight: 900;
    font-size: 32px;
}

.hero-image{
    width: 100%;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.container > * {
    margin: 13px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.order-description{
    line-height: 25px;
}

.plan-container{
    font-size: 16px;
    background-color:hsl(224, 100%, 87%);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-container a{
    color: aliceblue;
    font-size: 13px;
    font-weight: 700;
}

.plan-container a:hover{
    opacity: 0.8;
    text-decoration: none;
}

.plan-container strong{
    color: navy;
}

.plan-description{
    line-height: 20px;
    margin-right: 75px;
}


button{
    width: 100%;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 12px
}

.proceed-button{
    background-color: navy;
    padding: 1rem 0;
    color: white;
    box-shadow: 0 20px 30px -8px rgb(197, 189, 245);
}

.proceed-button:hover{
    opacity: 0.8;
}

.cancel-button{
    background-color: white;
    color: hsl(224, 23%, 55%);
    margin-top: 22px;
}

.cancel-button:hover{
    color: navy;
}