body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color: #73bdeb;
    line-height: 1.6;
}
h1{
    text-align: center;
    color: #222;
    margin-bottom: 5px;
}
h2{
    color: #444;
    margin-top: 30px;
}
img{
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 65%;
    border: 3px solid #333;
}
p{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
ul{
    max-width: 300px;
    margin: auto;
}
a{
    color: #006eff;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}